* {
  font-family: 'Montserrat';
  font-style: normal;
}

body {
  background-image: url('../images/gradient\ bg.jpg');
  background-size: cover;
}

.login-page {
  padding: 25vh 500px;
}

.form-control::placeholder {
  text-align: left;
  padding-left: 90px;
  color: white;
  font-size: 14px;
}

.clear-anchor {
  color: black;
  text-decoration: none;
}

.btn-purple {
  color: #4D28A9;
  background: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
}

.login-logo {
  border-right: 0;
}

.login-input {
  border-left: 0;
}