* {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
}

.container-big {
  height: 90%;
}

.btn-purple {
  background: #5E4DCD;
  color: #FFF;
}

.btn-outline-purple {
  border-color: #5E4DCD;
  color: #5E4DCD;
}

.btn-pink {
  background: #FFD2DD;
  color: #5E4DCD;
}

.sharp-edge {
  border-radius: 0%;
}

.bg-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/purple\ bg.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 200px;
}

.bg-stripe {
  background-image: url('../images/stripe.png');
  background-size: cover;
  position: absolute;
  width: 454px;
  height: 454px;
  right: 0px;
  bottom: 0px;
}

.bg-circle {
  background-image: url('../images/circle.png');
  background-size: cover;
  position: absolute;
  width: 558px;
  height: 558px;
  left: -10px;
  top: 100px;
}

.center {
  margin: auto;
  /* width: 80%; */
}

.row {
  height: 100%;
}

.container-layanan {
  padding: 100px 200px;
}

.bg-shape {
  background-image: url('../images/Shape.png');
  background-size: cover;
  position: absolute;
  width: 306px;
  height: 301px;
  left: 39px;
  top: 1067px;
}

.card-img-crop {
  height: 200px;
  object-fit: cover;
  object-position: bottom;
}

.footer {
  /* height: 50vh; */
  padding: 50px 200px;
  background: #ECECEC;
}

.brand {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.copyright {
  font-size: 14px;
}

.footer-link {
  color: #5d5d5d;
  text-decoration: none;
}

.alamat-email {
  border: 0;
  border-bottom: 1px solid rgb(74, 74, 74);
}

.email-button {
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}